<div class="navigation">
  <a
    href="https://jlangenberg.github.io/MyOwnWebsite/webapp/"
    class="navbar-brand"
    >Main Page</a
  ><br />
  <a href="https://github.com/JLangenberg">GitHub</a>
  <ul class="nav navbar-nav">
    <li>
      <a routerLink="/diamond-fabricator" routerLinkActive="active"
        >Diamond-Fabricator</a
      >
    </li>
    <li>
      <a routerLink="/isogramm-tester" routerLinkActive="active"
        >Isogramm-Tester</a
      >
    </li>
    <li>
      <a routerLink="/string-reverser" routerLinkActive="active"
        >String-Reverser</a
      >
    </li>
  </ul>
</div>
